:root {
  background-color: #bcf4d49c;
  --primary-color:rgba(195, 34, 190, 0.8);
  --primary-color-light: rgba(195, 34, 190, 0.2);
  color: #2c201a;
  font-family: 'Reddit Mono'
}

body {

    font: 100%/1.5;
    max-width: 75%;
    margin-inline: auto;
    padding: auto;
  
}
/* ul {
  display: contents;
} */
dl{
  display: grid;
  grid-template-columns: 4 1fr;
  gap: .5em;
}
dt{
  grid-row: 1; 
  color: lightslategrey; /* Set text color to light grey */
  
}

dd{
  grid-row: 2; /* Place on the second row of the grid */
  font-size: 1.5em; /* Set font size to 1.2 times the default */
  margin: 0; /* Remove the default margin */
}

/* li {
  display: contents;
} */

a.current {
  color: var(--primary-color);
  border-bottom-width: .15em;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-color);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  flex: 1;
  text-align: center;
  padding: 0.5em;
}


form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}




