:root {
  background-color: #bcf4d49c;
  --primary-color:rgba(195, 34, 190, 0.8);
  --primary-color-light: rgba(195, 34, 190, 0.2);
  --primary-color-accent: rgb(250, 187, 120);
  color: #2c201a;
  font-family: 'Reddit Mono'
}

body {

  font: 100%/1.5;
  max-width: 66%;
  margin-inline: auto;
  padding: auto;
  
}


form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}




